# ignore node_modules
IncomeStatement/WebpackEnv/node_modules/*

# ignore package-lock json
IncomeStatement/WebpackEnv/package-lock.json

# ingore boundle file
IncomeStatement/WebData/BundleResult/*

# ingore packages
packages/*

# inogre vs code
.vs/*
IncomeStatement/bin/*
IncomeStatement/obj/*